extends componentes/plantilla.pug
block contenidos
    main.blogs-main 
        section.blogs-news-container 
            .grid-container.blogs-main-new 
                .blogs-news-img-container 
                    img(src="../assets/img/main-news-img.png", alt="")
                .blogs-news-info-container 
                    h2 Mis Proyectos 
                    p ¡Despierta tu curiosidad y adéntrate en mi emocionante viaje como programador junior en el fascinante mundo del front-end! 🌟💻 Descubre mis desafíos diarios, mi pasión por la creación y los logros que he obtenido en este apasionante campo. ¡Te sorprenderás de lo que se puede lograr con determinación y aprendizaje constante!✨🔥
            .grid-container.blogs-main-tools 
                .tools 
                    h2 Programas y herramientas que manejo
                    .tools-icons
                        i.fa-brands.fa-html5(aria-hidden="true")
                        i.fa-brands.fa-css3-alt(aria-hidden="true")
                        i.fa-brands.fa-square-js(aria-hidden="true")
                        i.fa-brands.fa-sass(aria-hidden="true")
                        i.fa.fa-github(aria-hidden="true")
                        i.fa-brands.fa-git-alt(aria-hidden="true")
        section.blogs-posts-container 
            .grid-container 
                h3 Últimos proyectos 
                hr
                +post-project("post-batatabit.png","BatataBit","Pagina infográfica de la criptomoneda BatataBit, en la que se visualiza los diferentes precios y tendencias. ","https://santi2023.github.io/BatataBit/")
                +post-project("google-clone.png","Google Clone","Clon de la pagina principal del buscador mas popular que es Google, en la que veremos un buen uso de los displays. Solo disponible para desktop.","https://santi2023.github.io/Google_Clone.github.io/")
                +post-project("post-help-planet.jpg","Salva el Planeta","Conoce el impacto del cambio climático y como puedes contribuir desde casa con la protección y conservación del medio ambiente. Disponible solo para desktop","https://santi2023.github.io/Save_Our_Planet/index.html")
