extends componentes/plantilla.pug
block contenidos 
    body.home-body
        main.home-main 
            section 
                p.home-main-text Conoce mis proyectos y algunos tips y habilidades sobre tech 
                button.home-main-button 
                    a(href="perfil.html") Entra ya!! 